body{
    background-image: url("aiconsimg.png");
    background-repeat: no-repeat;
    color:white;
    background-color:rgb(24, 24, 43);
    background-position: center;
    background-position-y: 50px;
}
.main_heading{
    font-size: 50px;
}
.sub_heading{
    font-size: 30px;
}
.content{
    font-size: xx-large;
}
.footer{
    font-size:xx-small;
    text-align: center;
    margin-top:70px;
}
.list{
    line-height: 75px;
}
#info_link  {
    color:white;
}
#info_link :hover{
    color:darkgrey;
}
#info_link :visited{
    color:whitesmoke;
}